     <footer class="mh-footer" id="mh-contact">
            <div class="map-image image-bg">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Contact Me</h3>
                        </div>
                        <div class="col-sm-12 mh-footer-address">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <div class="each-icon">
                                            <i class="fa fa-location-arrow"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Address</h4>
                                            <address>
                                                10, 11 Akshardham duplex Tp-13, <br>
                                                 India
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                        <div class="each-icon">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Email</h4>
                                            <a href="mailto:directorsahil007@gmail.com">directorsahil007@gmail.com</a><br>
                                            <a href="mailto:directorsahil@rediffmail.com">directorsahil@rediffmail.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                        <div class="each-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Phone</h4>
                                            <a href="callto:+91 99745 52763"></a><br>
                                            <a href="callto:+91 99745 52763">+91 99745 52763</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!--                        <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">-->
<!--                            <form id="contactForm" class="single-form quate-form wow fadeInUp" data-toggle="validator" method="post">-->
<!--                                <div id="msgSubmit" class="h3 text-center hidden"></div>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 col-sm-12">-->
<!--                                        <input name="fname" class="contact-name form-control" id="name" type="text" placeholder="First Name" required>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 col-sm-12">-->
<!--                                        <input name="lname" class="contact-email form-control" id="L_name" type="text" placeholder="Last Name" required>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-12">-->
<!--                                        <input name="Ename" class="contact-subject form-control" id="email" type="email" placeholder="Your Email" required>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-12">-->
<!--                                        <textarea class="contact-message" id="message" rows="6" placeholder="Your Message" name="tname" required></textarea>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Subject Button &ndash;&gt;-->
<!--                                    <div class="btn-form col-sm-12">-->
<!--                                        <button type="submit" class="btn btn-fill " id="form-submit" name="send">Send Message</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">-->
<!--                            <div class="mh-map">-->
<!--                                <div id="mh-map" class="shadow-1"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="text-left text-xs-center">-->

<!--                                    </div>-->
<!--                                </div>-->

                                <div class="col-sm-6">
                                    <ul class="social-icon">
                                        <li><a href="https://www.instagram.com/i_sahil_dhiman/?hl=en"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://github.com/directorsahil"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://accounts.snapchat.com/accounts/login?client_id=geo"><i class="fa fa-snapchat"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>