 <section class="mh-service">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>What I do</h2>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <i class="fa fa-bullseye purple-color"></i>
                            <h3>Web Server Design</h3>
                            <p>
                                There are many advance tools which can
                                can be used in order to make web apps
                                However, I preferred Python's Flask
                                Framework and additional tools.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>YouTube</h3>
                            <p>
                                Love to grow build up content through
                                vlogs, ideas and some scripted videos.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                            <i class="fa fa-object-ungroup sky-color"></i>
                            <h3>Computation and Business.</h3>
                            <p>
                                Nowadays, startups are growing from
                                every corner of the world and I have
                                keen interest to give my thinking in
                                to it and currently working the ideas
                                to grow up at the same.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
